* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --white: #ffffff;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --hospital-green: #acd9b2;
    --sm: 1.4rem;
    --md: 1.6rem;
    --lg: 1.8rem;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.nav-container__search {
    width: 100%;
}